{
  "credentials": {
    "admin": [
      {
        "fieldName": "UserName",
        "value": "admin"
      },
      {
        "fieldName": "Password",
        "value": "admin"
      }
    ],
    "user": [
      {
        "fieldName": "UserName",
        "value": "some_random_user"
      },
      {
        "fieldName": "Password",
        "value": "12345"
      }
    ]
  }
}
