{
  "testFiles": "**/*.feature",
  "integrationFolder": "e2e/features",
  "supportFile": "e2e/support/support.js",
  "pluginsFile": "e2e/plugins/plugins.js",
  "viewportWidth": 1600,
  "viewportHeight": 900,
  "fixturesFolder": "false",
  "videosFolder": "e2e/videos",
  "screenshotsFolder": "e2e/screenshots"
}
